[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{composer.lock,.eslintrc,.prettierrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json,*.tfstate}]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.styl]
indent_style=space
indent_size=2

[{*.coffee,*.cjsx}]
indent_style=space
indent_size=2

[*.yml]
indent_style=space
indent_size=2

[{rake,rails,spec,spork,rcov,cucumber,capfile,gemfile,rakefile,guardfile,isolate,vagrantfile,*.thor,*.rb,*.rake,*.rbw,*.ru,*.jbuilder,*.gemspec}]
indent_style=space
indent_size=2

