version: '2'
services:
    registry:
      restart: always
      image: registry:2
      ports:
        - 5000:5000
      environment:
        REGISTRY_AUTH: htpasswd
        REGISTRY_AUTH_HTPASSWD_PATH: "{{ htpasswd_dir }}/htpasswd"
        REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      volumes:
        - "{{ registry_path_local }}:{{ registry_path }}"
        - "{{ registry_path_local }}{{ htpasswd_dir }}:{{ htpasswd_dir }}"

    webserver:
      restart: always
      image: gists/lighttpd
      ports:
        - 80:80
      volumes:
        - "{{ webserver_path_local }}:{{ webserver_path }}"


# Datadog container
# sudo docker run -d --name dd-agent -v /var/run/docker.sock:/var/run/docker.sock:ro -v /proc/:/host/proc/:ro
#    -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro -e API_KEY=67682e5d1256da4d14a84d2251bc8ab0 -e SD_BACKEND=docker
#    -e TAGS=docker-registry datadog/docker-dd-agent:latest

