[Unit]
Description=docker-compose service
{% if ansible_os_family == "RedHat" %}
After=docker.service
BindsTo=docker.service
{% endif %}

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
StandardOutput=syslog+console
WorkingDirectory={{ docker_lib_path_local }}{{ docker_compose_dir }}
ExecStartPre=-{{ docker_compose_application_path }} kill
ExecStart={{ docker_compose_application_path }} up
ExecStop={{ docker_compose_application_path }} stop
User=docker
NotifyAccess=all

[Install]
WantedBy=multi-user.target


